* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Mononoki Nerd Font, FontAwesome; /*, Roboto, Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    font-weight: bold;
    color: rgb(202,211,245);
    border: none;
    border-radius: 12px;
}

window#waybar {
    background-color: rgba(36,39,58,0.85);
    border: 3px solid;
    border-color: rgba(36,39,58,0.9);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar>box {
    padding: 6px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: rgba(36,39,58,1);
}

window#waybar.chromium {
    background-color: black;
    border: inherit;
}

window#waybar.empty #window{
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    background-color: rgb(54,58,79);
    padding: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: white;
}

tooltip {
    background-color: rgb(36,39,58);
    opacity: 0.9;
    border: 3px solid;
    border-color: rgba(125,196,228,0.9)
}

#workspaces button {
    color: rgb(202,211,245);
    margin: 3px;
    padding: 0px 6px;
    background-color: rgb(54,58,79);
}

#workspaces button:hover {
    padding: 3px 9px;
    background: #ababab;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover label {
    color: rgb(36,39,58);
}

#workspaces button.active,
#workspaces button.focused {
    background-color: rgb(125,196,228);
    padding: 0px 15px;
}

#workspaces button.active label,
#workspaces button.focused label {
    color: rgb(36,39,58);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    padding: inherit;
}

#mode {
    background-color: #64727D;
    box-shadow: none;
}

.module {
    padding: 0px 9px;
    color: rgb(202,211,245);
    background-color: rgb(54,58,79);
}

.module.disabled {
    background-color: rgb(24,25,38);
}

#workspaces {
    background-color: rgb(30,32,48);
    padding: 1px 3px;
}

#battery {
    background-color: rgb(54,58,79);
}

#battery.charging, #battery.plugged {
    color: rgb(24,25,38);
    background-color: rgb(166,218,149);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: rgb(237,135,150);
}

#power-profiles-daemon.balanced {
    color: inherit;
}

#power-profiles-daemon.power-saver {
    color: rgb(166,218,149);
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgb(54,58,79);
}

#idle_inhibitor.activated {
    background-color: rgb(125,196,228);
    color: rgb(24,25,38);
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
