* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(36,39,58,0.9);
}

button {
    margin: 36px;
	border-radius: 12px;
	border-color: #7dc4e4;
	text-decoration-color: #cad3f5;
	color: #cad3f5;
	background-color: #1e2030;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(53, 57, 75);
	outline-style: none;
}

#lock {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/lock.svg");
}

#logout {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/logout.svg");
}

#suspend {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/suspend.svg");
}

#hibernate {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/hibernate.svg");
}

#shutdown {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/shutdown.svg");
}

#reboot {
    background-image: url("/home/edoardomussi/.config/wlogout/icons/macchiato/sapphire/reboot.svg");
}
